<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/AbhayXplorer" target="_blank" aria-label="github"> <i class="fa-brands fa-github"></i></a>
            <a href="mailto:abhay751825@gmail.com" aria-label="Email"><i class="fa-regular fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/abhay-gupta-9a490832b/" target="_blank" aria-label="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> 








