<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link nav-item-custom" href="/">Home</a>
        <a class="nav-link nav-item-custom" href="/listings">Explore</a>
        <a class="nav-link nav-item-custom" href="/listings/new">Add new Listings</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser) { %>
          <a class="nav-auth-btnn" href="/login">Log in</a>
          <a class="nav-auth-btnn" href="/signup">Sign up</a>
        <% } %> <% if(currUser) { %>
          <span class="nav-username">Hi, <%= currUser.username %></span>
          <a class="nav-auth-btnn" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>